body {
  margin: 0;
  overflow: hidden;
}

#app {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

#container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1;
}

#stars {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  z-index: 2;
  pointer-events: none;
}

.settings {
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 10px;
  color: white;
  z-index: 1000;
}

.settings:hover {
  color: #ffdc3b;
}

.settings:active {
  color: #6b5f29;
}

.form-container {
  position: absolute;
  z-index: 10;
  background-color: white;
  right: 40px;
  top: 40px;
  padding: 10px;
}

.form {
  display: flex;
  flex-wrap: wrap;
  width: 170px;
  margin-top: 5px;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

input {
  width: 20%;
}

button[type="submit"] {
  color: white;
  background-color: green;
  border-color: white;
  margin-top: 10px;
}

.star {
  position: absolute;
  color: white;
  background-color: white;
  height: 2px;
  width: 2px;
}

.physics-object {
  position: absolute;
}

.missile {
  opacity: 1;
  border-style: solid;
  border-radius: 50%;
  border-width: 1px;
  transition: opacity 2s linear;
  z-index: 3;
}

.trail {
  opacity: 1;
  position: absolute;
  border-style: solid;
  border-radius: 50%;
  border-width: 2px;
  transition: opacity 0.5s linear;
  z-index: 2;
}

.fade-out {
  opacity: 0;
}

.hide {
  display: none;
}
